<h2>angular 属性ディレクティブ サンプル</h2>
<p>基本的には見た目を変更するために扱われる</p>
<p>ダブルクリックイベントを検知⇒inputを追加でdivやpタグでテキストを編集可能</p>
<p>contentEditableでも編集できるが、こっちの方がvalidatorなどカスタマイズがしやすい</p>
<div class="sample1">
  <h3>sample1</h3>
  <p>div要素でdirective</p>
  <div [(appInputText)]="sample1" class="input"></div>
  <span>sample1バインディング ⇒ <span class="result">{{ sample1 }}</span></span>
</div>
<div class="sample2">
  <h3>sample2</h3>
  <p>p要素でdirective</p>
  <p [(appInputText)]="sample2" class="input"></p>
  <span>sample2バインディング ⇒ <span class="result">{{ sample2 }}</span></span>
</div>
<div class="sample3">
  <h3>sample3</h3>
  <p>li要素ngForループでdirective ngForを使用した場合はコンポーネント側で値を変えないとダメ</p>
  <ul>
    <li *ngFor="let str of sample3 | keyvalue" [appInputText]="str.value" (appInputTextChange)="sample3Change(str.key, $event)"></li>
  </ul>
  <span>sample3バインディング ⇒ <span class="result" *ngFor="let str of sample3 | keyvalue">{{ str.value }},</span></span>
</div>